*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

table, th, td {
    width: 200px;
    height: 200px;
  }

.contenedor_perfil{
    display: inline-block;
    position: absolute;
    text-align: center;

}
.foto_perfil{
    margin: 0 auto;
    width: 150px;
    height: 150px;
    transform: translate(-150px 0);
}
.presentation{
    margin: 20px 0 0 0;
    color:darkcyan;
    font-size: 1.2rem;
    font-weight: 500;
}
.nombre{
    color:darkcyan;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: -3%;
}
.divisor{
    display: inline-block;
    align-content: center;
    text-align: center;
    width: 180px;
}
.pie_img{
    color:darkcyan;
    font-size: 1.2rem;
    font-weight: 500;
}

img{
    width: 100%;
    border-radius: 360px;
    border: solid 4px rgb(28, 26, 26);
    background-repeat: no-repeat;
}
